@{
    ViewBag.Title = "About";
}
<h3>About Us</h3>
<div class="row col-lg-12">
    <div class="col-lg-6" style="margin-top:10%">
        <p>Use this area to provide additional information.</p>
    </div>
    <div class="col-lg-6">
        <img src="~/images/seoudiCompany.png" />
        
    </div>
</div>