
<h3>About Us</h3>
<div class="row col-lg-12">
    <div class="col-lg-6" style="margin-top:10%">
        <p>Car Nation is the child of our company that we care and always put our efforts on it to grow it as example of successful brand in the market. Car Nation is one of most important brands of Modern Motors for Trade and Agencies (MMTA) who is specialized in E-commerce and trading of automobiles locally and internationally.</p>

        <p>With Car Nation you can have your vehicle delivered to your door steps without leaving your home. Simple click from you and we knock your door with your vehicle. It’s just that simple!</p>
    </div>
    <div class="col-lg-6">
        
    </div>
</div>