@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="alert alert-success" role="alert">
   <p> Dear valued customer,                                                                                                                     </p>
   <p> Please be informed that number of your order exceeds more than 10 vehicles.                                                              </p>
   <p> You will receive email from our customer service. To confirm your order, please go through link we sent you and complete your order.     </p>
   <p> Thank you for your purchase!                                                                                                             </p>
</div>