@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="alert alert-success" role="alert">
    <strong>Remember!</strong> An e-mail would be sent with the transaction details to <strong> User@gmail.com </strong>.
</div>