<script src="~/Content/js/angular.min.js"></script>
<script src="~/Content/js/ng-file-upload.min.js"></script>
<script src="~/Content/js/CarController.js"></script>
<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    .thumb {
        width: 24px;
        height: 24px;
        float: none;
        position: relative;
        top: 7px;
    }

    form .progress {
        line-height: 15px;
    }

    .progress {
        display: inline-block;
        width: 100px;
        border: 3px groove #ccc;
    }

        .progress > div {
            font-size: smaller;
            background-color: red;
            width: 0%;
        }
</style>

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<form ng-app="CarApp" ng-controller="DeleteCar" name="EditCarFrom" novalidate>
    <div class="shadow-sm p-4 mb-4 " style="background-color: #8080800a;">
        <div class="shadow-sm p-2 mb-3 col-lg-2" style="background-color: #8080800a;font-weight:700;color:brown">Main Information:</div>
        <div class="container">
            <div class="form-row">
                <div class="form-group col-md-6 mb-4" ng-class="{'submitted':(EditCarFrom.InputCarName.$touched||SubmetAction)&&EditCarFrom.InputCarName.$invalid}">
                    <label>Car Name:</label>
                    <input type="text" ng-value="editcar.Name" class="form-control" ng-model="editCar.Name" name="InputCarName" id="inputEmail4" disabled required>
                </div>
            </div>

        </div>

        <button class="btn btn-primary" ng-click="Back()">Cancel</button>

        <button class="btn btn-danger" ng-click="DeleteCar(editCar)">Delete The Car</button>
    </div>
</form>





