@model CarVendor.data.Entities.CarCategory

@{
    ViewBag.Title = "Details";
}


@*<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous" />*@
<!-- Optional theme -->
@*<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
      integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ"
      crossorigin="anonymous" />
 Latest compiled and minified JavaScript 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>*@
<link href="~/Content/css/carousalcss.css" rel="stylesheet" />

<script type="text/javascript"
        src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

<script type="text/javascript" src="~/Content/js/jquery.flexisel.js"></script>

<h4>Car Category Details</h4>
<hr />
<div>

    @*from here put slider*@


    <div class="container-fluid">
        <div class="container mainContainer">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-8" style="margin-bottom:20px;">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                            <ul id="flexiselDemo3">
                                <li style="padding-left:10px; padding-right:10px;">
                                    <img src="~/images/car1.jpg" height="220" class="img-responsive" />
                                </li>
                                <li style="padding-left:10px; padding-right:10px;">
                                    <img src="~/images/car1.jpg" height="220" class="img-responsive" />
                                </li>
                                <li style="padding-left:10px; padding-right:10px;">
                                    <img src="~/images/car1.jpg" height="220" class="img-responsive" />
                                </li>
                                <li style="padding-left:10px; padding-right:10px;">
                                    <img src="~/images/car1.jpg" height="220" class="img-responsive" />
                                </li>
                              
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                            <div class="clearout"></div>
                            <ul id="flexiselDemo4">
                                <li style="padding-right:10px; padding-left:10px;">
                                    <div class="videoWrapper">
                                    <iframe width="560" height="349"
                                           
                                            src="https://www.youtube.com/embed/CAAunvoyI5I"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                </li>
                                <li style="padding-right:10px; padding-left:10px;">
                                    <div class="videoWrapper">
                                        <iframe width="560" height="349"
                                                src="https://www.youtube.com/embed/CAAunvoyI5I"
                                                frameborder="0"
                                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                    </div>
                                </li>
                                <li>
                                    <div class="videoWrapper">
                                        <iframe width="560" height="349"
                                                src="https://www.youtube.com/embed/CAAunvoyI5I"
                                                frameborder="0"
                                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                    </div>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4">
                    <div class="row marginBottom">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Gear
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            Automatic
                        </div>
                    </div>

                    <div class="row marginBottom">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Air Bags
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            <img src="~/images/icon.png" width="20px" height="20px" />
                        </div>
                    </div>

                    <div class="row marginBottom">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Air Bags
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            <img src="~/images/icon.png" width="20px" height="20px" />
                        </div>
                    </div>

                    <div class="row marginBottom">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Gear
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            Automatic
                        </div>
                    </div>

                    <div class="row marginBottom">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Air Bags
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            <img src="~/images/icon.png" width="20px" height="20px" />
                        </div>
                    </div>

                    <div class="row marginBottom">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Air Bags
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            <img src="~/images/icon.png" width="20px" height="20px" />
                        </div>
                    </div>

                    <div class="row marginBottom">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Gear
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            Automatic
                        </div>
                    </div>

                    <div class="row marginBottom">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Air Bags
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            <img src="~/images/icon.png" width="20px" height="20px" />
                        </div>
                    </div>

                    <div class="row marginBottom">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Air Bags
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            <img src="~/images/icon.png" width="20px" height="20px" />
                        </div>
                    </div>
                    <div class="row marginBottom">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Air Bags
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            <img src="~/images/icon.png" width="20px" height="20px" />
                        </div>
                    </div><div class="row marginBottom">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Air Bags
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            <img src="~/images/icon.png" width="20px" height="20px" />
                        </div>
                    </div>
                    <div class="row marginBottom">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Air Bags
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            <img src="~/images/icon.png" width="20px" height="20px" />
                        </div>
                    </div><div class="row marginBottom">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Air Bags
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            <img src="~/images/icon.png" width="20px" height="20px" />
                        </div>
                    </div>
                    <div class="row marginBottom">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Air Bags
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            <img src="~/images/icon.png" width="20px" height="20px" />
                        </div>
                    </div><div class="row marginBottom">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Air Bags
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            <img src="~/images/icon.png" width="20px" height="20px" />
                        </div>
                    </div>
                    <div class="row marginBottom">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Air Bags
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            <img src="~/images/icon.png" width="20px" height="20px" />
                        </div>
                    </div><div class="row marginBottom">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Air Bags
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            <img src="~/images/icon.png" width="20px" height="20px" />
                        </div>
                    </div>
                    <div class="row marginBottom">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Air Bags
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            <img src="~/images/icon.png" width="20px" height="20px" />
                        </div>
                    </div>
                    
                </div>
            </div>
@*down part*@
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-6">
                    <div class="row marginBottom">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Air Bags
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            <img src="~/images/icon.png" width="20px" height="20px" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-6">
                    <div class="row marginBottom marginLeftBigScreen">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Air Bags
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            <img src="~/images/icon.png" width="20px" height="20px" />
                        </div>
                    </div>
                </div>

        </div>

            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-6">
                    <div class="row marginBottom">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Air Bags
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            <img src="~/images/icon.png" width="20px" height="20px" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-6">
                    <div class="row marginBottom marginLeftBigScreen">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Air Bags
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            <img src="~/images/icon.png" width="20px" height="20px" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-6">
                    <div class="row marginBottom">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Air Bags
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            <img src="~/images/icon.png" width="20px" height="20px" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-6">
                    <div class="row marginBottom marginLeftBigScreen">
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spTitle">
                            Air Bags
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 spData">
                            <img src="~/images/icon.png" width="20px" height="20px" />
                        </div>
                    </div>
                </div>

            </div>

    </div>
    <script type="text/javascript">
        $(window).load(function () {
            let numberOfVideos = $("#flexiselDemo4").children().length;
            if (numberOfVideos <= 1) {
                visibleVideos = numberOfVideos;
                autoPlayVideo = false;
            } else {
                visibleVideos = 1;
                autoPlayVideo = true;
            }

            $("#flexiselDemo3").flexisel({
                visibleItems: 2,
                itemsToScroll: 1,
                autoPlay: {
                    enable: true,
                    interval: 5000,
                    pauseOnHover: true
                }
            });

            $("#flexiselDemo4").flexisel({
                visibleItems: visibleVideos,
                itemsToScroll: 1,
                autoPlay: {
                    enable: autoPlayVideo,
                    interval: 5000,
                    pauseOnHover: true
                }
            });
        });
    </script>
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
<script src="~/Scripts/carosel.js"></script>

