
@{
    ViewBag.Title = "Refundpolicy";
}


<div class="col-lg-9"><h2>Refund Policy</h2></div>
<div class="col-lg-9">
    <ul>
        <li>
            Refund requests must be made within 14 days of redemption date. After 14 days from
            redemption date you must contact Customer Service to determine the best course
            of action. The company will not issue refunds through other entities.
            such as distributors or retail partners. Defective vouchers are covered under a one year
            limited warranty policy will be replaced at the company’s’ cost. See “Returning vouchers
            Under Warranty,” below, for information on warranty returns.
        </li>

        <li>
            A copy of the original invoice may be requested prior to Customer Service issuing a Return
            Authorization.
        </li>

        <li>
            Voucher must be in like-new condition The company reserves the right to reject any
            refund request if the voucher is received damaged or if any accessories or
            other original components are missing.
        </li>
        <li>
            A Return Authorization (RA) number must be obtained prior to returning the voucher;
            to request an RA number, please email or call 1-650-318-8050 x208, and provide the
            following information:
            <ul style="list-style-type:none;">
                <li>Name              </li>
                <li>Address           </li>
                <li>Phone             </li>
                <li>Reason for Refund </li>
                <li>Date of Purchase  </li>
                <li>Unit Serial Number</li>
            </ul>
        </li>

        <li>
            Returned vouchers received without an RA number and the required documentation as
            specified above may not be accepted or processed for return.
        </li>
        <li>
            Funds will be credited within 5 days of receipt of returned voucher pending
            qualification and subject to above criteria.
        </li>
    </ul>
</div>